nav {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.item-thumbnail {
  height: 240px;
  object-fit: cover;
}

.promo-image {
  object-fit: cover;
}

.footer-image {
  width: 80px;
}