nav {
	-webkit-backdrop-filter: blur(16px);
	backdrop-filter: blur(16px);
}

.item-thumbnail {
	height: 240px;
	object-fit: cover;
}

.item-thumbnail-vertical {
	object-fit: cover;
	height: 100%;
  width: 100%;
}

.promo-image {
	object-fit: cover;
}

.footer-image {
	width: 80px;
}

.sticky-div {
	position: sticky;
	top: 100px; /* Adjust this value to match the height of the navbar */
}
